/* You can add global styles to this file, and also import other style files */
@import "bootswatch/dist/litera/bootstrap.min.css";
@import "font-awesome";
body{
  font-family: Urbanist, sans-serif;
  background-color: #252525;
}

p{
  font-family: Urbanist, sans-serif;
}
